.userinfo {
  max-width: 500px !important;
  text-align: left;
}

.profile {
  margin: 50px;
}

.data-row {
  margin: 10px 0 10px 0;
}

.account-page {
  min-width: 410px;

}

.account-page-buttons {
  margin: 20px;
}

.profile-button {
  margin-right: 10px;
}

