.login-form {
  max-width: 18em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  color: #1F1F1F;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
  background-color: #D1E8BA;
}

.cancel-btn, .login-btn, .register-btn {
  margin: 25px 15px 0 15px;
  border: none !important;
  background-color: #67AD67 !important;
}

.cancel-btn:hover, .login-btn:hover, .register-btn:hover {
  border: none !important;
  background-color: #7AB677 !important;
}

.register-form {
  box-shadow: 5px 10px 8px #888888;
  background-color: #D1E8BA;
  color: #1F1F1F;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  padding: 30px 40px 10px 40px;
}

.register-input {
  max-width: 20em;
  margin-right: 0 !important;
}

.label {
  padding-right: 0 !important;
}

.title {
  margin-bottom: 30px;
}
