.field-card {
    min-width: 250px !important;
    max-width: 250px !important;
    margin: 40px auto 40px auto !important;
}

.card-deck {
    justify-content: center !important;
}

.card-body {
    position: relative;
}

.card-text {
    padding-bottom: 40px;
}

.container {
    margin-top: 20px;
    padding: 0 !important;
}

.img-maps:hover {
    cursor: pointer;
}

.select-field-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
}

.filter-buttongroup {
    align-items: center;
    margin: 10px 0 10px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-group > .btn {
    width: 100px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


.picker-header {
    margin-left: auto;
    margin-right: auto;
}

.btn-group .btn + .btn {
    margin-left: 0 !important;
}