.tracks-nav {
    margin-right: 40px;
}

.track-info {
    margin-top: 15px;
    width: 55vw !important;
    float: left !important;
}

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tracks-container {
    left: 0 !important;
    display: flex;
    justify-content: flex-start;
}

.track {
    border-bottom: 1px solid lightgray;
}

.container {
    width: 90vw !important;
    padding: 10px !important;
    justify-content: center;
}

.back-btn {
    margin-top:auto;
    margin-bottom: auto;
}
