.tracks-nav {
    margin-right: 40px;
}

.track-info {
    margin-top: 15px;
    width: 55vw !important;
    float: left !important;
}

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-box-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tracks-container {
    left: 0 !important;
    display: flex;
    justify-content: flex-start;
}

.track {
    border-bottom: 1px solid lightgray;
    background-color: #E8F1F7;
    border-radius: 0.25rem;
    margin-bottom: 0.5em;
}

.tracks-nav .nav-link {
    color: black !important;
}

.track:hover {
    background-color: #CDE9EE;
}

.nav-link.active {
    border-bottom: 2px solid gray;
    background-color: #98BCDD !important;
}

.container {
    width: 90vw !important;
    padding: 10px !important;
    justify-content: center;
}

.back-btn {
    margin-top:auto;
    margin-bottom: auto;
}
.small-button {
    font-size: 12px !important;
}

.mobile-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.mobile-navigation-back-to-track {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 699px) {
    .throws-buttons-container {
        display: flex;
        padding-right: 0 !important;
    }
}

.throws-buttons-container {

}
