.homepage-container {
  margin-top: 60px;
}

.homepage-header {
  margin-bottom: 40px;
}

.homepage-title {
  color: #292929;
  font-weight: bold;
  font-size: 3.5em;
  margin-bottom: 0 !important;
}

.subheader {
  color: #787878;
}

.homepage-button {
  background-color: #537548 !important;
  border: 3px solid #537548 !important;
  margin: 30px 30px 10px 30px;
}

.homepage-button-header {
  color: #BFCDAD;
}

.homepage-register {
  color: #616161;
  font-size: 14px;
}

.homepage-register a:link {
  color: #284371;
}

.homepage-register a:visited {
  color: #60A3C7;
}

.homepage-button:hover {
  background-color: white !important;
}

.homepage-button:hover h2 {
  color: #314418;
}

.homepage-button:hover .homepage-button-header {
  color: #577529;
}

@media screen and (max-width: 700px) {
  .homepage-title {
    font-size: 2.3em;
  }
}