.main-container {
  margin-top: 60px;
}

.main-header {
  margin-bottom: 40px;
}

.main-title {
  color: #292929;
  font-size: 3.5em;
  margin-bottom: 0 !important;
}

.subheader {
  color: #787878;
}

.main-button {
  background-color: #537548 !important;
  border: 3px solid #537548 !important;
  margin: 30px 30px 30px 30px;
}

.main-button-subheader {
  color: #BFCDAD;
}

.homepage-register {
  color: #616161;
  font-size: 14px;
}

.homepage-register a:link {
  color: #284371;
}

.homepage-register a:visited {
  color: #60A3C7;
}

.main-button:hover {
  background-color: white !important;
}

.main-button:hover .main-button-header {
  color: #314418;
}

.main-button:hover .main-button-subheader {
  color: #577529;
}

@media screen and (max-width: 700px) {
  .main-title {
    font-size: 3em;
  }
}