
.navigation-bar {
    background: url(../resources/images/header.jpg) center;
    background-size: cover;
    border-bottom: 2px solid #BDD6E0;
    align-items: flex-start !important;
    position: relative;
    height: 7em;
}

.navbar-toggler {
    background: rgba(255, 255, 255, 0.6) !important;
    margin-left: auto;
    z-index: 1001;
}

.navbar-collapse {
    margin-left: 40px;
}

.brand-name {
    color: white !important;
    font-weight: bold;
    font-size: 2.5em !important;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
}

.navigation-bar-link {
    color: #636363 !important;
    font-weight: bold;
    font-size: 1em !important;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .navigation-bar-link {
        color: white !important;
        font-weight: bold;
        font-size: 1em !important;
        margin: 20px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        margin-bottom: auto;
        margin-top: -37px;
        margin-right: -16px;
    }

    .collapsing {
        margin-bottom: auto;
        margin-top: -37px;
        margin-right: -16px;
    }

    .navigation-bar-link {
        font-size: 0.8em !important;
    }

    .navigation-toggler {
        font-size: 0.8em !important;
    }

    .navigation-box {
        height: 100vh;
        position: relative;
        z-index: 1000;
        width: 60vw !important;
        background-color: #F4F4E7 !important;
        border-left: 2px darkgray solid;
    }
}