.set-name {
    display: flex !important;
    justify-content: center;
    padding-top: 0.5%;
}

.form-box {
    display: block;
}

.confirm-btn {
    margin: 1.5em !important;
}

#playerName {
    max-width: 200px !important;
    margin-left: 20px !important;
}