.set-name {
    margin: auto;
    padding-top: 0.5%;
}

.form-box {
    display: block;
}

.confirm-btn {
    margin: 1.5em !important;
}

.playerName {
    max-width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}