.decrease-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 35px;
}

.increase-btn {
    width: 35px;
}

.buttons {
    margin: 10px auto auto;
}

.player-points {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.player-name {
    flex-shrink: 50;
    margin: auto;
    word-break: break-all;
}

.throws {
    margin: auto;
}

.track-box {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}